* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: linear-gradient(#c4ddf4,#2d94ef,#bed5e9);   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    background-color: white;
    padding: 2.5em;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    transition: transform 0.3s ease-in-out;
}
#paragraph{
    text-align:center;
    font-weight:700;
    font-size:1.7rem;

}
#finalScore{
    text-align:center;
    font-weight:700;
    font-size: 2rem;
    color: #3b8cd6;

}
#scoreMessage{
    text-align:center;
    font-weight:700;
    font-size: 1.7rem;
    

}
button {
    background: #56a5eb;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100%;
    max-width: 200px;
    text-transform: uppercase;
}

button:hover {
    background: #3681c7;
    transform: scale(1.05);
}
#end{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5em}